.home-page-container{
    margin: 0.5vh auto;
    width:65vw;

    .search-bar{
        width:25vw;
        margin: 2vh 0;
        position: relative;
        float: right;
    }

    .project-list{
        color: black;
        text-align:left;
    
        .heading:hover{
            background-color: #ffffff;
            cursor: auto;
        }
    
        tr:hover{
            background-color: #f7f7f7;
            cursor:pointer;
        }
    }
}

