
.login-form{
    padding: 20px;
    color: black;
    background-color: #f5f5f5;
    border: 1.5px solid #f5f5f5;
    border-radius: 8px;
    margin: 22vh auto;
    width:450px;

    h1{
        font-weight:200;
        font-size:24px;
    }

    input{
        margin-top:12px;
        margin-bottom:12px;
    }

    button{
        width: 240px;
        margin-top:12px;
    }

    p{
        color:#f44b4b;
        margin-top:24px;
    }
}

.login-page{
    text-align: center;
}


