.project-details-container{
    text-align:left;
    width:50vw;
    margin: 5vh auto;

    .details{ 
        h1{
            font-size: 24px;
            font-weight:400;
        }
        h2{
            font-size:16px;
            font-weight:200;
        }
        .detail-container{
            background-color:#f7f7f7;
            border-radius: 4px;
            margin: 24px 0;
            .col{
                padding:0;    
            }
            .detail-item-container{
                .detail-item{
                    padding: 12px 12px;
                    h1{
                        font-size:14px;
                        font-weight: 500;
                    }
                    h2{
                        font-size:14px;
                        font-weight:350;
                    }
                }   
            }
        }
        .description-box{
            padding: 0 12px;
            h1{
                font-size: 14px;
                font-weight: 500;
            }
            h2{
                font-size:14px;
                font-weight:350;
            }
        }
    }
}


